*{
  margin: 0%;
  padding: 0%;
}

html{
  font-size: 62.50%;
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  border: 2px solid black;
  background-color: lightblue;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: auto;

}

